asgiref==3.4.1
autopep8==1.5.5
boto3==1.18.49
botocore==1.21.49
bottle==0.12.19
certifi==2021.5.30
cffi==1.14.6
charset-normalizer==2.0.4
click==8.0.1
colorama==0.4.4
coreapi==2.3.3
coreschema==0.0.4
cryptography==3.4.8
defusedxml==0.7.1
Distance==0.1.3
dj-database-url==0.5.0
Django==3.2.6
django-503==0.1
django-appconf==1.0.4
django-cast==0.1.28
django-cleanup==5.2.0
django-codebase==0.1
django-contrib-comments==2.1.0
django-cors-headers==3.8.0
django-crispy-forms==1.12.0
django-filepond==0.1.2
django-filter==2.4.0
django-fluent-comments==3.0
django-heroku==0.3.1
django-imagekit==4.0.2
django-js-asset==1.2.2
django-misc==0.1.0
django-model-utils==4.1.1
django-notifier==0.7
django-shells==0.1.0
django-storages==1.11.1
django-suit2==2.0a1
django-threadedcomments==1.2
djangorestframework==3.12.4
flake8==3.8.4
g2p-en==2.1.0
gunicorn==20.1.0
idna==3.2
inflect==4.1.0
itsdangerous==2.0.1
itypes==1.2.0
jedi==0.17.2
Jinja2==3.0.1
jmespath==0.10.0
librosa==0.7.1
llvmlite==0.31.0
MarkupSafe==2.0.1
matplotlib==3.2.2
numba==0.48.0
oauthlib==3.1.1
parso==0.7.1
pilkit==2.0
Pillow==8.3.1
plotly==5.2.1
postmarkup==1.2.2
psycopg2==2.9.1
pycodestyle==2.6.0
pycparser==2.20
pydocstyle==6.1.1
pyflakes==2.2.0
PyJWT==2.1.0
pypinyin==0.39.0
python-akismet==0.4.2
python-dateutil==2.8.2
python-jsonrpc-server==0.4.0
python-language-server==0.36.2
python-slugify==5.0.2
python3-openid==3.2.0
pytils==0.3
pytz==2021.1
pyworld==0.2.10
requests==2.26.0
requests-oauthlib==1.3.0
rope==0.19.0
s3transfer==0.5.0
shortuuid==1.0.1
six==1.16.0
social-auth-app-django==5.0.0
social-auth-core==4.1.0
sqlparse==0.4.1
tenacity==8.0.1
text-unidecode==1.3
tgt==1.4.4
tqdm==4.40.1
ujson==4.0.2
Unidecode==1.1.1
uritemplate==3.0.1
urllib3==1.26.6
Werkzeug==2.0.1
whitenoise==5.3.0
wincertstore==0.2
yapf==0.31.0
