{% extends 'accounts/navbar.html' %}

{% block content %}

{% load crispy_forms_tags %}

{% load static %}

                <!-- Begin Page Content -->
                
            <div class="col-md-8">
                <div class="card">
                  <div class="card-header card-header-primary">
                    <h4 class="card-title">Change Password</h4>
                    <p class="card-category">Complete your profile</p>
                    {% if messages %} 
                        {% for message in messages %}
                            {% if message == 'success' %}
                                <div class="alert alert-success">
                                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <i class="material-icons">close</i>
                                  </button>
                                  <span>
                                    <b> {{message|upper}} - </b> Password change was successfull</span>
                                </div>
                            {% else %}
                                <div class="alert alert-danger">
                                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <i class="material-icons">close</i>
                                  </button>
                                  <span>
                                    <b> {{message|upper}} - </b> Please correct the errors below</span>
                                </div>
                            {% endif %}
                        {% endfor %} 
                    {% endif %}
                  </div>
                  <div class="card-body">
                    {% load crispy_forms_tags %}
                    <form class="form was-validated" method="post">

                    {% csrf_token %}
                        <div class="col-12 col-sm-6 mb-3">
                            {{ form | crispy }}
                            <a class="btn btn-secondary" href="{% url 'profile' %}">Cancel</a>
                            <button class="btn btn-primary" type="submit">Save changes</button>
                            

                        </div>
                    </form>
                  </div>
                </div>
            </div>

{% endblock %} 