{% extends 'accounts/navbar.html' %}

{% block title %} Notifications@ Roll Industries{% endblock %}

{% block content %}

{% load static %}

<div class="col-md-8">
    <div class="card">
      <div class="card-header card-header-primary">
        <h4 class="card-title">Your Notifications</h4>
        <p class="card-category">Check this regularly for updates on account progress.</p>
      </div>
      <div class="card-body">
        <div class="alert alert-info">
            <span>This is a plain notification</span>
        </div>
        <div class="row">
        
            <div class="col-md-6">
              <h4 class="card-title">Personal Notifidcations</h4>
              <div class="alert alert-info alert-with-icon" data-notify="container">
                <i class="bx bx-bell-plus bx-sm" data-notify="icon"></i>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <i class="bx bx-x bx-sm"></i>
                </button>
                <span data-notify="message">This is a notification with close button and icon.</span>
              </div>

            </div>
            <div class="col-md-6">
              <h4 class="card-title">Account Notifications</h4>
              {% for notification in notifications %}
                  {% if notification.kind == 'S' %}
                      <div class="alert alert-success">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                          <i class="bx bx-x bx-sm"></i>
                        </button>
                        <span>
                          <b> SUCCESS - </b> {{notification.title}}<br> {{notification.message}}</span>
                      </div>
                  {% elif notification.kind == 'I' %}
                        <div class="alert alert-info">
                          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <i class="bx bx-x bx-sm"></i>
                          </button>
                          <span>
                            <b> INFO - </b> {{notification.title}}<br> {{notification.message}}</span>
                        </div>
                  {% elif notification.kind == 'D' %}
                        <div class="alert alert-danger">
                          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <i class="bx bx-x bx-sm"></i>
                          </button>
                          <span>
                            <b> DANGER - </b> {{notification.title}}<br> {{notification.message}}</span>
                        </div>
                  {% elif notification.kind == 'W' %}
                        <div class="alert alert-warning">
                          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <i class="bx bx-x bx-sm"></i>
                          </button>
                          <span>
                            <b> WARNING - </b> {{notification.title}}<br> {{notification.message}}</span>
                        </div>
                  {% endif %} 
              {% endfor %}
              
            </div>
          </div>
        <div class="row">
            <div class="col-lg-8 col-md-10 ml-auto mr-auto">
              <div class="row">
             
                <div class="col-md-4">
                  <button class="btn btn-primary btn-block" onclick="showNotification('top','center')">Toggle</button>
                </div>
              
              </div>
            </div>
            <script>
                showNotification = function(from, align, type) {
                        type = ['success'];

                        color = Math.floor((Math.random() * 5) + 1);

                        $.notify({
                        icon: "",
                        message: "{{notifications.message}}"

                        }, {
                        type: type[color],
                        timer: 3000,
                        placement: {
                            from: from,
                            align: align
                        }
                        });
                    }
            </script>
          </div>

      </div>
    </div>
  </div>
{% endblock %} 